<nav class="great-vibes-bold navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/img/home.png" alt="альтернативный текст" /><a
    class="navbar-brand"
    routerLink="/main"
    >Каталог украшений</a
  >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Кольца
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/add-ring">Добавить кольцо</a>
          <a class="dropdown-item" routerLink="/list-ring">Список колец</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Цепочки
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/add-chain">Добавить цепочку</a>
          <a class="dropdown-item" routerLink="/list-chain">Список цепочек</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Серьги
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/add-earring">Добавить серьги</a>
          <a class="dropdown-item" routerLink="/list-earring">Список сережек</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
